.under-construction-container {
    height: 7.5vh;
    background-color: yellow;
    position: relative;
    top: 200px;
    text-align: center;
  }
  
  .under-construction-title {
    font-size: 2rem;
    color: black;
    margin: 0;
  }
  
  .under-construction-subtitle {
    font-size: .7rem;
    color: black;
    margin: 0;
  }